body {
    margin: 0 ;
    font-family:'Courier New', Courier, monospace;
}

.q1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 6, 6);
}

.header {
    display: flex;
    margin:0;
}

.logo {
    color: aliceblue;
}

.q1-links {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type:none ;
    margin: 0;
}

a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
}