body {
    margin: 0 ;
    font-family:'Courier New', Courier, monospace;
}

.main-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 6, 6);
    padding: 16px 240px 48px 240px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    font-size: 24px;
    color: aliceblue;
    justify-content: center;
}

.q1-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-header {
    font-size: 40px;
    font-weight: bolder;
} 

.main-subtext {
    padding-top: 16px;
    font-size: 18px;
}

.text {
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    padding-top: 48px;
    padding-bottom: 72px;
}

.main-button {
    width: 130px;
    height: 50px;
    background-color:crimson;
    color:aliceblue;
    padding: 4px;
    margin: 16px;
    font-size: 14;
    font-weight: bolder ;
    text-align: center;
    box-shadow: 5px 5px #ffffff;
    border: 2px solid #ffffff 
}
.main > img {
    display: flex;
    flex-shrink: 1;
    width: 700px;
    height: auto;
}
ul {
    list-style-type:none ;
    gap: 20px;
    display: flex;
}

a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
}
<!-- hero section completed successfully -->
.info-section {
    display: flex;
    
    flex-direction: column;
    align-items: center ;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 16px;
}

.text {
    flex-wrap: wrap;
    text-align: center;
}
.imgs {
    display: flex;
    gap: 48px;
}

.img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}